<%= form_with(model: @blog,local: true, url: confirm_blogs_path) do |form| %>
  <% if @blog.errors.any? %>
    <div class="error_expelanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <div class="">
     <%= form.text_field :content %>
   </div>
   <%= form.submit "あたらしくつぶやく" %>
<% end %>
<%= link_to "つぶやき一覧へもどる", blogs_path %>
