<% @blog.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
<p><%= notice %></p>
<%= form_with(model: @blog, local:true) do |form| %>
  <div class="blog_content">
    <%= form.label :"内容" %>
    <br>
    <%= form.text_field :content %>
  </div>
  <%= form.submit "編集する" %>
<% end %>
<%= link_to "つぶやき一覧", blogs_path %>
