<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only">Bootstrap</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bootstrap
      </a>
    </div>
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="">top</a></li>
        <li><a href="">menu1</a></li>
        <li><a href="">menu2</a></li>
      </ul>
    </div>
  </div>
</nav>


<h1>Rblog一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>内容</th>
    <th>投稿日時</th>
  </tr>
  <% @blog.each do |blog| %>
    <tr>
      <td><%= blog.content %></td>
      &emsp;
      <td><%= blog.created_at %></td>
      <td><%= link_to '編集', edit_blog_path(blog.id) %></td>
      <td><%= link_to '削除', blog_path(blog.id), method: :delete %></td>
    </tr>
  <% end %>
</table>
<%= link_to '新しくつぶやく', new_blog_path %>
